[Unit]
Description=Wireless Network Reset for connmanctl

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh /opt/tools/connmanctl-wifi-reset/wifi-reset.sh
[Install]
WantedBy=multi-user.target